{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>view list</title>
        <link rel="stylesheet" href="{% static 'css/view-list.css' %}">
    </head>
    <body>
        <div class="option-div">
            <h3 class="create js-view-list"><a href="{% url 'todo' %}">Create List</a></h3>
            <h3 class="view js-view-list">View List</h3>
        </div>
        
        <script src="{% static 'js/view-list.js' %}"></script>
    </body>
</html>